<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.monster.melon.mapper.UserMapper">
    <resultMap id="UserMapper" type="User">
        <id column="id" property="id"/>
        <result column="username" property="userName"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickName"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
<!--        <result column="avatar" property="avatar" />-->
        <association
                column="id"
                property="avatar"
                select="com.monster.melon.mapper.AvatarMapper.getAvatarPath"
        />
    </resultMap>
<!--    <select id="getUserById" resultType="com.monster.melon.pojo.User">-->
<!--        select u.id,u.username,u.nickname,u.description,u.create_time,a.path as avatar from user as u left join melon.avatar as a on a.user_id = u.id where u.id = #{id};-->
<!--    </select>-->

    <select id="getUserById" resultType="com.monster.melon.pojo.User" resultMap="UserMapper">
        select * from user where id = #{id};
    </select>

    <select id="getAllCommentId" resultType="java.lang.String">
        select id from event where user_id = #{userId}
    </select>

    <select id="getAllNewsId" resultType="java.lang.String">
        select id from news where user_id = #{userId}
    </select>

    <select id="getAllEventId" resultType="java.lang.String">
        select id from event where user_id = #{userId}
    </select>

    <select id="getAllUser" resultMap="UserMapper">
        select * from user
    </select>


</mapper>